.navbar {
    background: #24292e;
    height: 70px;
    color: white;
}


.navbar-brand {
    font-size: 40px;
}

.form-control {
    background: none;
    border: none;
}

.btn-link{
    padding: 4px 8px;
    border-radius: 6px;
    margin-left: 16px;
}

.btn-link:hover{
    opacity: .8;
    text-decoration: none;
}