.header {
    background: #24292e;
    height: 80px;
    color: white;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px
}

.logo {
    font-size: 40px;
}

.sing_link {
    text-decoration: none;
    color: white;
}


.text {
    width: 40%;
    display: flex;
    justify-content: space-between;
}