.sidebar {
    width: 270px;
}

.avatar {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: #24292e;
}

.highlights__text{
    color: #24292e;
}

.highlights-pro-block{
    width: 43px;
    margin: 7px 0 10px 0;
}
